<h1>Home</h1>
<!-- <div *ngFor="let data of photos| slice:0:500">
    <p>{{data?.id}}</p>
<img src='{{data?.url}}'>
</div> -->
<div style="padding-right: 20px;">
 <p>{{photos[0]?.id}}</p>
 <p>{{photos[0]?.title}}</p>
<img src='{{photos[0]?.url}}'>
</div>
<div style="padding-right: 20px;">
    <p>{{photos[1]?.id}}</p>
    <p>{{photos[1]?.title}}</p>
   <img src='{{photos[1]?.url}}'>
   </div>
   <div style="padding-right: 20px;">
    <p>{{photos[2]?.id}}</p>
    <p>{{photos[2]?.title}}</p>
   <img src='{{photos[2]?.url}}'>
   </div>
